<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>

<body>
<div class="container">
    <div id="cursor"></div>
    <header th:insert="blocks/header :: header"></header>
    <section class="home" id="1">
        <div class="texthome">
            <h1>WELCOME TO <a class=name>BIKESHOP</a></h1><br>
            <p class="lead">The Best BikeShop Ever!</p>
        </div>
        <div class="box" id="content">
            <div>
                <a href="#2">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
        </div>
    </section>
    <script src="js/script.js"></script>
</div>
</body>
</html>